@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/**************************
******Barre de menu********
**************************/

/* <-- depart pour balise <ul></ul> --> */
nav>ul{
  margin: 0px;
  padding: 0px;
}

/* mise en disposition du menu déroulant*/
nav>ul>li{
  float: left;
}

nav li{
  list-style-type: none;
}

.submenu{
  display:  none;
}

nav{
  width: 100%;
  background-color: black;
}

nav>ul>li{
  float: left;
  position: relative;
}

nav>ul::after{
  content:"";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav>ul>li>a{
  padding: 20px 30px;
  color: #FFF;
}

.stycky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 2px #eee;
}
.stycky

.submenu{
  display:  none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}

.submenu li a{
  padding: 15px 30px;
  font-size: 13px
  color: blue;
  width: 270px;
}

.submenu li{
  border-bottom: 1px solid #CCC;
}

.submenu li a{
  padding: 15px;
  font-size: 13px;
  color: black;
  width: 270px;
}

.menu-acceuil:hover a{
  border-top: 5px solid #e44d26;
  background-color: RGBa(220, 220, 220, 0.15);
}

.menu-boutique:hover li{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000, 112, 192, 0.15);
}

.menu-vente-flash:hover li{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}

.menu-membres:hover li{
  border-top: 5px solid #BBB;
  background-color: RGBa(220, 220, 220, 0.15);
}

.menu-contact:hover li{
  border-top: 5px solid #CCC;
  background-color: RGBa(220, 220, 220, 0.15);
}

/************************************\
    Section Info et actualité CSS
\************************************/
.container2 {

    width: 1131px;
    margin: auto;
    background: white;
    padding-bottom: 70px;
    border-bottom: 1px solid #D8D6CA;
    padding-left: 12px;
    padding-right: 12px;
    border-left: 1px solid #D8D6CA;
    border-right: 1px solid #D8D6CA;
}
.leftCnt {
    position: relative;
    width: 710px;
    color: #1E1F21;
    float: left;
}
.titreH2 {
    font-family: "Roboto",!sans-serif important;
    font-size: 16px !important;
    margin-bottom: 13px !important;
    margin-left: 5px !important;
    text-transform: uppercase !important;
}
.classContenu h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2em;
    color: #333;
    font-family: sans-serif,Arial,Verdana,"Trebuchet MS";
    font-size: 18px;
    margin-top: 20px;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sepaH2 {
    border-bottom: 6px solid #d8d6ca;
}
a {
    color: #586BAA;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
élément {
    margin-bottom: 10px;
}
#textHotNews {
    font-style: normal !important;
    font-weight: normal !important;
    color: #1E1F21;
    margin-bottom: 10px;
}
.date {
    font-size: 11px;
    text-transform: uppercase;
    height: 18px;
    color: #565656;
}
.date ul li {
    display: inline-block;
    margin-right: 10px;
}
#titleHotNews {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    padding: 0;
    text-transform: uppercase;
}
.sepaH2 {
    border-bottom: 6px solid #d8d6ca;
}
.clear {
    clear: both;
}
.article {
    width: 348px;
    margin-top: 13px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}
.txtArticle {
    width: 348px;
}
.article {
    width: 348px;
    margin-top: 13px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}
#NewsPopulaires {
    margin-top: 10px;
}
.rightCnt {
    width: 368px;
    float: right;
    z-index: 2;
}







/******Footer CSS**********\
\**************************/

#footer {
  background-color: #212121;
  background-image: url("../images/footer-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}
